@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
.congrats {
  position: absolute;
  visibility: hidden;
  top: 250px;
  width: 550px;
  height: 100px;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.no {
  position: absolute;
  visibility: hidden;
  top: 300px;
  width: 0px;
  height: 0px;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
  left: 0px;
  right: 200px;
}

h1 {
  transform-origin: 50% 50%;
  font-size: 50px;
  color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

body {
  background: rgba(255,255,255,0);
}

#clue {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -75px;
  width: 300px;
  height: 120px;
}

#main {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -175px;
  width: 420px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

div.row {
  float: none;
}

div.grid {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #000000;
  background-color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  -moz-transition: background-color 300ms ease-in;
  -webkit-transition: background-color 300ms ease-in;
}

div.grid:hover {
  cursor: pointer;
  box-shadow: inset 0 2px 3px 0px rgba(150, 150, 150, 0.5);
  -moz-box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

div.upclue {
  text-align: center;
  width: 20px;
  height: 200px;
  border-radius: 2px;
  border: 0.5px solid #969696;
  background-color: rgba(255, 255, 255, 0.5);
  float: left;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

div.leftclue {
  text-align: center;
  letter-spacing: 2px;
  width: 100px;
  height: 20px;
  border-radius: 2px;
  border: 0.5px solid #969696;
  background-color: rgba(255, 255, 255, 0.5);
  float: left;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

div.btn {
  position: absolute;
  top: 290px;
  left: 50%;
  margin-left: -200px;
  width: 300px;
  height: 150px;
}


#result {
  position: relative;
  top: 100px;
  left: 50px;
  margin-left: -150px;
  width: 300px;
  height: 150px;
  align-content: center;
  display: block;
}
